* {
    box-sizing: content-box;
  }

  img {
    height: 300px; 
    width: 0 auto; 
  }

  .image-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .nav-item {
    margin-top: 5px; 
  }

  .nav-item:first-of-type {
    padding: 0 10px 0 0;
  }

   @media screen and (min-width: 1399px) {
    .image-container {
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1199px){
    .image-container {
      align-items: center;
      justify-content: space-around;
    } img {
      margin-bottom: 15px;
    }
  }