* {
    box-sizing: content-box;
  }

  /* stylings for project and profile images */ 

  .image-container {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .image-container > img {
    height: 300;
    width: auto;
    border-radius: 10px; 
  }

  .image-container img:hover {
    animation-name: glow;
    animation-duration: 1s;
  }

  img:last-of-type {
    height: 300px;
    width: auto 0; 
    border-radius: 10px;
  }

  /* navbar link styling */

  .nav-item {
    margin-top: 5px; 
  }

  ul {
    list-style:none;
  }

  li a {
    text-decoration: none;
  }

  /* about me section stylings */

  .move {
    display: flex;
    padding-left: 5%;
    align-items: flex-start;
    margin-right: 15%;
  }

  /* footer/ contact info section */

  .social-icon {
    padding: 0px 3px 0px 3px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }

  footer ul li {
    padding: 20px; 
    font-size: 1.4em;
  }

  /* about me section for sm screens */

  @media screen and (max-width: 767px) {
    .move {
      display: block; 
      align-content: center;
      padding: 0;
      margin-right: 10%;
    } 
  }

  /* responsive media queries for xxl screens */

   @media screen and (min-width: 1399px) {
    .image-container {
      align-items: center;
      justify-content: center;
    } img {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 1199px){
    .image-container {
      align-items: center;
      justify-content: space-around;
    } img {
      margin-bottom: 15px;
    }
  }

  /* CSS glow effect over projects */
  
  @keyframes glow {
    0% {
      box-shadow: 0px 0px 15px 10px #9ec5fe;
    }
    50% {
      box-shadow: 0px 0px 10px 5px #3d8bfd;
    }
    100% {
      box-shadow: 0px 0px 5px 0px 
      #0c6efd;
    }
  }